@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
/*--------шрифты----------------------------*/
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoSerif-Bold';
    src: url(../fonts/RobotoSerif_28pt-Bold.ttf);
}

@font-face {
    font-family: 'RobotoSerif-Medium';
    src: url(../fonts/RobotoSerif_28pt-Medium.ttf);
}

/*--------обнуление стилей------------------------------*/
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*------------общий блок--------------------------*/
.wrapper {
    overflow: hidden;
    background: #eae3d2;
    color: #611922;
}

._container {
    max-width: 1350px;
    margin: 0 auto;
}

/*------------текст--------------------------*/
.content1-txt {
    max-width: 1350px;
    margin: 205px auto 50px;
    display: flex;
    justify-content: space-between;
}

.text-serif64m {
    font-family: 'RobotoSerif-Medium';
    font-size: 64px;
}

.roboto-reg20 {
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

._m25 {
    margin: 25px 0 0;
}

._width487 {
    max-width: 487px;
}

/*-------------задняя картинка и пунктики------------------------*/
.content1 {
    width: 100%;
    height: 630px;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-block {
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(97, 25, 34, 0.65);
}

.brown-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-img {
    width: 259px;
    height: 177px;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-info {
    display: grid;
    margin: 32px 0;
    gap: 10px;
}

.text-serif22m {
    font-family: 'RobotoSerif-Medium';
    font-size: 22px;
    color: #eae3d2;
}

.roboto-light16 {
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #eae3d2;
}

._width300 {
    max-width: 300px;
}

._width390 {
    max-width: 390px;
}

._width280 {
    max-width: 280px;
}

/*--------------почему выбирают нас-----------------------*/
.content2 {
    max-width: 1350px;
    display: flex;
    margin: 85px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-serif48m {
    font-family: 'RobotoSerif-Medium';
    font-size: 48px;
}

.roboto-light24 {
    font-family: 'Roboto-Light';
    font-size: 24px;
}

.block-content1 {
    gap: 30px;
    max-width: 607px;
    display: grid;
}

.block-content2 {
    max-width: 692px;
    gap: 30px;
    display: grid;
}

.about-img {
    border-radius: 10px;
    height: 322px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about2-img {
    border-radius: 10px;
    height: 451px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*-------------услуги----------------------*/
.content3 {
    max-width: 1350px;
    margin: 0 auto;
}

.block-text {
    display: grid;
    gap: 20px;
    text-align: center;
    max-width: 1350px;
}

.block-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto 0;
}

.content-services1 {
    max-width: 437px;
}

.serveces-img1 {
    border-radius: 10px;
    width: 437px;
    height: 255px;
}

.text-serif20m {
    font-size: 20px;
    font-family: 'RobotoSerif-Medium';
    color: #e23647;
}

.roboto-reg16 {
    font-family: 'Roboto-Regular';
    font-size: 16px;
}

.serveces-txt {
    display: grid;
    gap: 8px;
    margin: 15px 0 0;
}

.roboto-reg14 {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #e23647;
    line-height: 131%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    margin: 2px 0 0;
}

.services2 {
    border-radius: 10px;
    padding: 40px;
    margin: 40px 0 0;
    background-color: #611922;
}

._color-beg {
    color: #eae3d2;
}

._m0 {
    margin: 0;
}

.content-services2 {
    max-width: 385px;
}

.serveces-img2 {
    border-radius: 10px;
    height: 561px;
}

.content-services3 {
    max-width: 470px;
}

.serveces-img3 {
    border-radius: 10px;
    height: 350px;
}

/*-------------сертификаты---------------------*/
.content4 {
    max-width: 1350px;
    margin: 85px auto 120px;
    display: grid;
    gap: 30px;
}

.block-certificate {
    display: flex;
    gap: 19px;
     max-width: 1350px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.slick-prev:before, .slick-next:before{
    color: #611922;
}
/* ------------------страница--Product----------------------------- */
.contentProduct1 {
    margin: 75px auto 85px;
    width: 100%;
    background-image: url(../img/product/Group\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block-txtProduct {
    gap: 25px;
    display: grid;
    max-width: 862px;
}

.content-blockProduct {
    gap: 50px;
    padding: 200px 0 75px;
    display: grid;
}

._width635 {
    max-width: 635px;
}

.buttonProduct {
    border-radius: 10px;
    padding: 12px 57px;
    max-width: 230px;
    height: 47px;
    background: #e23647;
    border: none;
}

/*-----------продукты--------------------------*/
._h57{
    height: 57px;
    display: flex;
    align-items: center;
}
.contentProduct2 {
    max-width: 1350px;
    margin: 85px auto 120px;
    display: grid;
    gap: 30px;
}

.block-productsProduct {
    display: flex;
    gap: 18px;
    justify-content: space-between;
    flex-wrap: wrap;
}

._brown {
    color: #611922;
    text-align: center;
}

.products {
    border: 2px solid #611922;
    border-radius: 30px;
    max-width: 324px;
    max-height: 418px;
}

.rectangle-products {
    border-radius: 30px 30px 0 0;
    height: 209px;
    background: #f4efe2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    border: none;
}

.txt-products {
    gap: 15px;
    display: grid;
    margin: 15px 21px;
}

.text-serif16m {
    font-size: 16px;
    font-family: 'RobotoSerif-Medium';
}

.btn-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roboto-medium13 {
    font-family: 'Roboto-Medium';
    font-size: 13px;
    color: #e23647;
}

.bbtn {
    border-radius: 10px;
    padding: 10px 21px;
    background: #e23647;
    border: none;
}

.text-serif13m {
    font-family: 'RobotoSerif-Medium';
    font-size: 13px;
    color: #eae3d2;
}




/* ------------------страница--Services----------------------------- */
.contentServices {
    max-width: 1350px;
    margin: 205px auto 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-contentServices {
    border-radius: 30px;
    width: 662px;
    padding: 50px 62px;
    gap: 80px;
    display: grid;
    background: #611922;
}

.images-services {
    border-radius: 30px;
    max-width: 662px;
    height: 625px;
}

._width470 {
    max-width: 470px;
}

.lineServices {
    border: 2px solid #fff;
    width: 2px;
    height: 124px;
}

.block-txtServices {
    display: grid;
    gap: 30px;
    max-width: 563px;
}

.txt-line {
    display: flex;
    justify-content: space-between;
}

.txt-line2Services {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.lineServices2 {
    border: 2px solid #fff;
    width: 124px;
    height: 2px;
}

._mb17 {
    margin: 0 0 17px 0;
}

.imgServices {
    width: 117px;
    height: 80px;
}

/*-----------Основные направления нашей работы:-------------------------*/
.content2services {
    display: grid;
    max-width: 1350px;
    gap: 30px;
    margin: 85px auto 120px;
}


.img-work {
    width: 373px;
    height: 583px;
}

.content-txt {
    gap: 38px;
    display: grid;
}


._width523 {
    max-width: 523px;
}

.block-infoservices {
    display: flex;
    gap: 120px;
    max-width: 938px;
    justify-content: space-between;
}

.img-info {
    display: flex;
    gap: 39px;
}

.big-line {
    border: 2px solid #e23647;
    width: 100%;
    height: 0;
}

.text-serif24m {
    font-size: 24px;
    font-family: 'RobotoSerif-Medium';
}




/* ------------------страница--Contacts----------------------------- */
.contentContacts {
    margin: 205px auto 85px;
    width: 100%;
    height: 482px;
    background-repeat: no-repeat;
    background-size: cover;
}

.roboto-reg24 {
    font-family: 'Roboto-Regular';
    font-size: 24px;
}

.list-textContacts {
    gap: 10px;
    margin: 25px 0;
    display: grid;
    max-width: 633px;
}

.contentContacts2 {
    display: flex;
    margin: 0 auto 85px;
    justify-content: space-between;
}

.list-iconContacts {
    display: flex;
    gap: 10px;
}

.iconContacts {
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
}

input {
    border: 5px solid #611922;
    border-radius: 10px;

    height: 65px;
    background: none;
}

.block-formContacts {
    gap: 20px;
    display: grid;
    margin: 25px 0 45px;
}

.formContacts {
    width: 628px;
}

.bigInput {
    height: 155px;
}

input[type="text"] {
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #611922;
    padding: 20px;
}

input[type="email"] {
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #611922;
    padding: 20px;
}

::placeholder {
    color: #611922;
}






/* ------------------страницы-AboutСompany----------------------------- */
.contentAbout {
    margin: 205px auto 85px;
    display: flex;
    max-width: 1350px;
    justify-content: space-between;
}

.blockAbout1 {
    width: 667px;
    padding: 60px 50px;
    border-radius: 30px;
    background-size: cover;
    background-image: url(../img/about/Group\ 98.jpg);
    height: 688px;
}

.imgAbout {
    max-width: 665px;
    border-radius: 30px;
    height: 688px;
}

._width374 {
    width: 374px;
}

.block-txtAbout {
    gap: 30px;
    display: grid;
}

.blockAbout1 {
    display: grid;
    gap: 85px;
}

.contentAbout2 {
    display: grid;
    gap: 30px;
}

.text-people {
    display: flex;
    justify-content: space-between;
}

._color-red {
    color: #e62517;
}

._width580 {
    width: 580px;
}

.block-txtPeople {
    display: grid;
    gap: 5px;
}

.roboto-light20 {
    font-family: 'Roboto-Light';
    font-size: 20px;
}

.people {
    display: flex;
    gap: 10px;
    align-items: center;
}

.block-contentAbout {
    border-radius: 30px;
    height: 439px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background: #f4efe2;
}

.text-serif28m {
    font-family: 'RobotoSerif-Medium';
    font-size: 28px;
}

.txtAbout {
    margin: 97px 65px 97px 0;
    display: grid;
    gap: 30px;
    max-width: 649px;
}

.imgAbout2 {
    width: 603px;
    height: 399px;
    margin: 40px 0 0;
}

.blockAbout3 {
    display: grid;
    gap: 15px;
}

.block-cardAbout {
    gap: 19px;
    display: grid;
}

.cardlist1 {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.cardAbout {
    border-radius: 30px;
    width: 439px;
    height: 310px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/about/image.jpg);
}

.btnAbout {
    width: 270px;
    height: 193px;
    border-radius: 30px;
    background: #f4efe2;
    border: none;
    margin: 100px 16px 17px;
    color: #611922;
}

.text-serif24b {
    font-family: 'RobotoSerif-Bold';
    font-size: 24px;
}

.contentAbout3 {
    margin: 85px auto 120px;
    display: grid;
    max-width: 1350px;
    gap: 30px;
}

._cardAbout2 {
    background-image: url(../img/about/image\ \(1\).jpg);
}

._cardAbout3 {
    background-image: url(../img/about/image\ \(2\).jpg);
}

.cardAbout2 {
    border-radius: 30px;
    width: 894px;
    height: 310px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/about/image\ \(3\).jpg);
}

._cardAbout4 {
    background-image: url(../img/about/image\ \(4\).jpg);
}

._imgAbout1 {
    background-image: url(../img/about/image\ 14.svg);
}

._imgAbout2 {
    background-image: url(../img/about/image\ 16.svg);
}

._imgAbout3 {
    background-image: url(../img/about/image\ 18.svg);
}

._contentProductimg2 {
    background-image: url(../img/product/11.jpg);
}

._contentProductimg3 {
    background-image: url(../img/product/12.jpg);
}

._contentProductimg4 {
    background-image: url(../img/product/13.jpg);
}
._contentProductimg5 {
    background-image: url(../img/product/ed.jpg);
}
/* styleho.css */
.fade-in {
    opacity: 0;           /* Изначально невидимый */
    transform: translateY(20px); /* Небольшой сдвиг вверх */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.in-view {
    opacity: 1;           /* Становится видимым */
    transform: translateY(0);
}
._brown {
    color: #611922;
    text-align: left;
}


/* ааптация хоме */
@media (max-width:1340px) {

    /* ааптация услуги */
    .contentServices {
        gap: 20px;
        justify-content: center;
    }

    /* ааптация о компании */
    .contentAbout {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .cardlist1 {
        gap: 20px;
        justify-content: center;
    }

    .contentAbout3 {
        padding: 0 20px;
    }
}

@media (max-width:1315px) {
    .block-certificate {
        gap: 40px;
    }

    .content2 {
        justify-content: center;
        gap: 25px;
        padding: 0 20px;
    }

    .about-img {
        max-width: 704px;
        height: 378px;
    }

    .about2-img {
        max-width: 704px;
        height: 451px;
    }

    .block-content1 {
        max-width: 704px;
    }

    .block-services {
        justify-content: space-around;
        gap: 40px;
    }

    .content3 {
        padding: 0 20px;
    }

    .content4 {
        padding: 0 20px;
    }

    .content-block {
        padding: 0 20px;
    }

    .content1-txt {
        padding: 0 20px;
    }

    ._width280 {
        max-width: 390px;
    }

    /* ааптация услуги */
    .block-infoservices {
        gap: 60px;
    }
}

@media (max-width:1200px) {

    /* ааптация услуги */
    ._width523 {
        max-width: 342px;
    }

    .img-info {
        gap: 15px;
    }

    /* ааптация контакты */
    .contentContacts2 {
        flex-wrap: wrap;
        padding: 0 20px;
        gap: 45px;
        justify-content: center;
    }

    /* ааптация о компании */
    .text-people {
        flex-wrap: wrap;
        gap: 30px;
    }

    .contentAbout2 {
        padding: 0 20px;
    }

    .block-contentAbout {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 0;
    }

    .txtAbout {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .text-serif36mAd {
        font-size: 36px;
    }

    .roboto-reg12Ad {
        font-size: 12px;
    }

    ._width487 {
        max-width: 303px;
    }

    /* ааптация услуги */
    .img-info {
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-work {
        width: 704px;
        height: 843px;
    }

    /* ааптация о компании */
    .cardAbout2 {
        width: 439px;
    }
    .footerContent{
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media (max-width: 877px) {
    .content1{
        height: 230px;
    }
    .content-services2 {
        max-width: 470px;
    }

    .serveces-img2 {
        width: 470px;
        height: 561px;
    }

    .serveces-img1 {
        max-width: 470px;
    }

    .content-services1 {
        max-width: 470px;
    }

    .content2services {
        padding: 0 20px;
    }

    /* ааптация контакты */
    .contentContacts {
        height: 211px;
    }
.block-productsProduct{
    justify-content: center;
}
}

@media (max-width: 740px) {
    .products {
        max-height: fit-content;
    }
    .content1-txt {
        flex-wrap: wrap;
    }

    ._m25 {
        margin: 10px 0 0;
    }

    ._width300 {
        max-width: 100%;
    }

    ._width390 {
        max-width: 100%;
    }

    ._width280 {
        max-width: 100%;
    }

    .text-serif24mAd {
        font-size: 24px;
    }

    .roboto-light20Ad {
        font-size: 20px;
    }

    .block-content1 {
        gap: 20px;
        max-width: 335px;
    }

    .about-img {
        max-width: 335px;
        height: 177px;
    }

    .about2-img {
        width: 335px;
        height: 215px;
    }

    .block-content2 {
        max-width: 335px;
    }

    .serveces-img1 {
        max-width: 335px;
        height: 182px;
    }

    .text-serif16mAd {
        font-size: 16px;
    }

    .roboto-reg13Ad {
        font-size: 13px;
    }

    .content-services1 {
        max-width: 335px;
    }

    .content-services2 {
        max-width: 335px;
    }

    .content-services3 {
        max-width: 335px;
    }

    .serveces-img2 {
        max-width: 335px;
        height: 399px;
    }

    .serveces-img3 {
        max-width: 335px;
        height: 248px;
    }

    .block-certificate {
        justify-content: center;
    }

    /* ааптация услуги */
    .roboto-reg12Ad {
        font-size: 12px;
    }

    .imgServices {
        width: 59px;
        height: 41px;
    }

    .lineServices {
        height: 63px;
    }

    .lineServices2 {
        width: 63px;
    }

    ._mb17 {
        margin: 0 0 11px 0;
    }

    .block-contentServices {
        padding: 26px 31px;
        gap: 17px;
        max-width: 335px;
    }

    .images-services {
        max-width: 335px;
        height: 317px;
    }

    .img-work {
        max-width: 335px;
        height: 402px;
    }

    .block-infoservices {
        gap: 15px;
        flex-wrap: wrap;
    }

    ._width523 {
        max-width: 100%;
    }

    .block-infoservices {
        max-width: 100%;
    }

    /* ааптация контакты */
    .roboto-reg16Ad {
        font-size: 16px;
    }

    .contentContacts {
        height: 106px;
    }

    /* ааптация о компании */
    .blockAbout1 {
        gap: 17px;
        padding: 30px 25px;
        max-width: 335px;
        height: 327px;
    }

    ._width374 {
        max-width: 209px;
    }

    .text-serif12mAd {
        font-size: 12px;
    }

    .buttonProduct {
        padding: 8px 27px;
        max-width: 128px;
        height: 31px;
    }

    .block-txtAbout {
        gap: 10px;
    }

    .imgAbout {
        max-width: 335px;
        height: 327px;
    }

    .people {
        width: 223px;
        height: 82px;
        background-size: cover;
    }

    .roboto-light15Ad {
        font-size: 15px;
    }

    .imgAbout2 {
        width: 286px;
        height: 187px;
    }

    .text-serif15mAd {
        font-size: 15px;
    }

    .roboto-light13Ad {
        font-size: 13px;
    }

    .txtAbout {
        max-width: 100%;
        gap: 10px;
    }

    .block-contentAbout {
        padding: 25px 20px;
        gap: 20px;
    }

    ._width580 {
        width: 100%;
    }

    .roboto-reg15Ad {
        font-size: 15px;
    }

    .cardAbout {
        max-width: 335px;
        height: 232px;
    }

    .btnAbout {
        width: 204px;
        height: 145px;
        margin: 75px 12px 12px;
    }

    .cardAbout2 {
        max-width: 335px;
        height: 232px;
    }

    .text-serif15bAd {
        font-size: 15px;
    }
    .text-serif13mAd {
    font-family: 'RobotoSerif-Medium';
    font-size: 13px;
    color: #eae3d2;
}
}
@media (max-width: 1330px) {
.footer{
    padding: 60px 20px;
}
.contentProduct2{
    padding: 0 20px;
}
.content-blockProduct{
    padding: 200px 20px 75px 20px;
}
}